body {
	padding: 0px;
	margin: 0;
	font-family: 'Times New Roman', serif;
	font-size: 20px;
}

h2 {
	margin: 80px 0 45px;
	font-size: 48px;
	color: #0051ac;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	box-sizing: border-box;
}

a {
	display:block;
	color: #000;
	text-decoration: none;
}

.wrapper {
	width: 880px;
	margin: 0 auto;
}

.navigation {
	margin: 50px 0 0;
	width: 100%;
	height: 38px;
	background: #cfcfcf;
}

.navigation li {
	position: relative;
}

.navigation .cell {
	float: left;
	box-sizing: border-box;
	padding: 8px 0;
	text-align: center;
	border-right: 1px solid #fff;
}

.navigation .first_cell {
	width: 128px;
}

.navigation .third_cell {
	width: 83px;
}

.navigation .fifth_cell {
	width: 100px;
}

.navigation .seventh_cell {
	width: 116px;
}

.navigation .empty {
	width: 151px;
	height: 38px;
}

.navigation li:not(.empty):hover {
	background: #afafaf;
}

.navigation .cell1 {
	width: 137px;
}

.navigation .cell2 {
	width: 105px;
}

.navigation .cell3 {
	width: 117px;
}

.navigation .cell4 {
	width: 390px;
}

.navigation .cell5 {
	width: 131px;
}

.navigation .submenu {
	display: none;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 100;
  border-top: none;
}

.navigation .submenu li {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 38px;
	width: 175px;
	background: #cfcfcf;
	border-top: 1px solid #fff;
}

.navigation .submenu li:hover {
	background: #afafaf;
}

ul.navigation > li:hover > ul.submenu {
    display: block;
}

.navigation .cell_1 {
	width: 129px;
}

.navigation .cell_2 {
	width: 125px;
}

.navigation .cell_3 {
	width: 118px;
}

.navigation .cell_4 {
	width: 109px;
}

.navigation .cell_5 {
	width: 117px;
}

.navigation .cell_6{
	width: 282px;
	padding: 3px 4px 3px 0;
	text-align: right;
}

.social {
	float: right;
	width: 180px;
}

.social li {
	float: right;
	padding-left: 6px;
}

.social a {
	width: 32px;
	height: 32px;
	background: url(../img/social.png) no-repeat center;
}

.social a.skype {
	background-position: -75px 0;
}

.social a.google {
	background-position: -38px 0;
}

.social a.twitter {
	background-position: 0 0;
}

.first_letter {
	color: #ff0000;
}

.table {
	width: 880px;
	height: 389px;
	border: 0;
	padding: 0;
	margin-top: 49px;
}

.table tr td:hover {
	background:#bfbfbf;
}

thead {
	background:#afafaf;
}

.tablehead_row {
	height: 38px;
}

.number {
	width: 46px;
}

.year {
	width: 120px;
	text-align: center;
}

.table .table_row:nth-child(n) {
	height: 38px;
	background: #dfdfdf;
}

.table .table_row:nth-child(2n) {
	height: 38px;
	background: #cfcfcf;
}

.table .table_row:hover {
	background: #bfbfbf;
}

.number_cell {
	text-align: center;
}

.name_cell {
	padding-left: 20px;
}

.result_cell {
	text-align: right;
	padding: 13px;
}

.span_table {
	display: table;
	width: 880px;
}

.span_rowhead {
	display: table-row;
	background: #afafaf;
	border: 1px solid #fff;
}

.span_numberhead, .span_namehead, .span_yearhead {
	display: table-cell;
	box-sizing: border-box;
	padding: 11px 0;
	height: 37px;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #fff;
}

.span_numberhead {
	width: 46px;
}

.span_namehead {
	padding-left: 21px;
	width: 467px;
}

.span_yearhead {
	width: 118px;
}

.span_row:nth-child(n) {
	display: table-row;
	background: #cfcfcf;
	border: 1px solid #fff;
}

.span_row:nth-child(2n) {
	display: table-row;
	background: #dfdfdf;
	border: 1px solid #fff;
}

.span_row:hover {
	background: #bfbfbf;
}

.span_number, .span_name, .span_year {
	display: table-cell;
	border-right: 1px solid #fff;
}

.span_number {
	text-align: center;
}

.span_name {
	padding-left: 21px;
}

.span_year {
	text-align: right;
	padding: 8px;
}

.list {
	position: relative;
	width: 411px;
	height: 156px;
	margin-bottom: 50px;
	background: #cfcfcf;
}

.list dt, .list dd {
	float: left;
	height: 30px;
	border-bottom: 2px solid #fff;
}

.list dt {
	padding: 8px 0 0 40px;
	width: 212px;
	font-weight: bold;
	font-style: italic;
	border-right: 2px solid #fff;
}
	
.list dd {
	margin-left: 0;
	width: 150px;
	text-align: right;
	padding: 8px 5px 0 0;
}

.list .icon_weight {
	position: absolute;
	top: 10px;
	left: 7px;
}

.list .icon_size {
	position: absolute;
	top: 48px;
	left: 7px;
}

.list .icon_power {
	position: absolute;
	top: 89px;
	left: 7px;
}

.list .icon_price {
	position: absolute;
	top: 127px;
	left: 7px;
}