body {
	padding: 0px;
	margin: 0;
	font-family: Times New Roman, serif;
}

.wrapper {
	width: 880px;
	margin: 0 auto;
}

h2 {
	margin: 80px 0 45px;
	font-size: 48px;
	color: #0051ac;
}

.navigation {
	list-style-type: none;
	width:880px;
	height:38px;
	margin:0;
	padding:0;
	background:#cfcfcf;
	font-size:20px;
	margin-top:50px;
}

.navigation li {
	position:relative;
	display:block;
}

.navigation li a {
	text-decoration:none;
	display:block;
	color:#000;
}

.navigation .first_cell {
	box-sizing: border-box;
	float:left;
	width:128px;
	height: 100%;
	border-right:1px solid #fff;
	padding-top:8px;
	text-align:center;
}

.navigation .third_cell {
	box-sizing: border-box;
	float:left;
	width:83px;
	height: 100%;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation .fifth_cell {
	box-sizing: border-box;
	float:left;
	width:100px;
	height: 100%;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation .seventh_cell {
	box-sizing: border-box;
	float:left;
	width:109px;
	height: 100%;
	text-align:center;
	padding-top:8px;
}

.navigation .empty {
	float:left;
	width:151px;
	height: 38px;
	border-right:1px solid #fff;
}

.navigation .first_cell:hover {
	background:#afafaf;
}

.navigation .third_cell:hover {
	background:#afafaf;
}

.navigation .fifth_cell:hover {
	background:#afafaf;
}

.navigation .seventh_cell:hover {
	background:#afafaf;
}

.navigation .cell1 {
	float:left;
	width:137px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation .cell2 {
	float:left;
	width:105px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation .cell3 {
	float:left;
	width:117px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation .cell4 {
	float:left;
	width:390px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation .cell5 {
	float:left;
	width:126px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation .cell1:hover {
	background:#afafaf;
}

.navigation .cell2:hover {
	background:#afafaf;
}

.navigation .cell3:hover {
	background:#afafaf;
}

.navigation .cell4:hover {
	background:#afafaf;
}

.navigation .cell5:hover {
	background:#afafaf;
}

.navigation_incell {
	list-style-type:none;
	width:880px;
	height:38px;
	margin:0;
	padding:0;
	background:#cfcfcf;
	font-size:20px;
	margin-top:50px;
	position:relative;
}

.navigation_incell a {
	text-decoration:none;
	color:#000;
}

.cell_menu li:hover {
	display:block;
}

.navigation_incell .cell_1 {
	float:left;
	width:129px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation_incell .cell_2 {
	float:left;
	width:125px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
	position:relative;
}

.navigation_incell .cell2 {
	position: relative;
}

.navigation_incell .cell_2 ul {
	display: none;
	list-style: none;
	padding-left: 0;
	background: #dfdfdf;
}

.navigation_incell .cell_2 ul:hover {
	display: block;
	position: absolute;
	top: 40px;
}

.navigation_incell .cell_3 {
	float:left;
	width:118px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation_incell .cell_4 {
	float:left;
	width:109px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation_incell .cell_5 {
	float:left;
	width:117px;
	height:30px;
	text-align:center;
	padding-top:8px;
	border-right:1px solid #fff;
}

.navigation_incell .cell_6{
	float:left;
	width:272px;
	height:30px;
	text-align:right;
	padding-top:4px;
	padding-right:4px;
	border-right:1px solid #fff;
}

.cell_1:hover, .cell_2:hover, .cell_3:hover, .cell_4:hover, .cell_5:hover {
	background:#afafaf;
}

.social {
	display:block;
	width:180px;
	height:32px;
	float:right;
	margin-bottom:10px;
	padding:0;
}

.social li {
	display:inline-block;
	float:right;
	padding-left:6px;
}

.social a {
	display:block;
	width:32px;
	height:32px;
	background:url(../img/social.png) no-repeat center;
}

.social a.skype {
	background-position:-75px 0;
}

.social a.google {
	background-position:-38px 0;
}

.social a.twitter {
	background-position:0 0;
}

.first_letter {
	color:#ff0000;
}

.table {
	width:880px;
	height:389px;
	border:0;
	padding:0;
	font-size:20px;
	margin-top:49px;
}

.table tr td:hover {
	background:#bfbfbf;
}

thead {
	background:#afafaf;
}

.tablehead_row {
	height:38px;
}

.number {
	width:46px;
}

.year {
	width:120px;
	text-align:center;
}

.table .table_row:nth-child(n) {
	height:38px;
	background:#dfdfdf;
}

.table .table_row:nth-child(2n) {
	height:38px;
	background:#cfcfcf;
}

.table .table_row:hover {
	background:#bfbfbf;
}

.number_cell {
	text-align:center;
}

.name_cell {
	padding-left:20px;
}

.result_cell {
	text-align:right;
	padding:13px;
}

.span_table {
	display:table;
	width:878px;
	font-size:20px;
}

.span_rowhead {
	display:table-row;
	height:37px;
	background:#afafaf;
	border:1px solid #fff;
}

.span_numberhead {
	display:table-cell;
	text-align:center;
	height:37px;
	width:46px;
	font-weight:bold;
	border-right:1px solid #fff;
}

.span_namehead {
	display:table-cell;
	height:37px;
	width:467px;
	font-weight:bold;
	border-right:1px solid #fff;
	padding-left:21px;
}

.span_yearhead {
	display:table-cell;
	height:15px;
	width:118px;
	font-weight:bold;
	border-right:1px solid #fff;
	text-align:center;
	padding:11px 0;
}

.span_row:nth-child(n) {
	display:table-row;
	background:#cfcfcf;
	border:1px solid #fff;
}

.span_row:nth-child(2n) {
	display:table-row;
	background:#dfdfdf;
	border:1px solid #fff;
}

.span_row:hover {
	background:#bfbfbf;
}

.span_number {
	display:table-cell;
	text-align:center;
	border-right:1px solid #fff;
}

.span_name {
	display:table-cell;
	border-right:1px solid #fff;
	padding-left:21px;
}

.span_year {
	display:table-cell;
	border-right:1px solid #fff;
	text-align:right;
	padding:8px;
}

.list {
	position: relative;
	width: 411px;
	height: 156px;
	margin-bottom: 50px;
	background: #cfcfcf;
	font-size: 20px;
}

.list dt {
	float:left;
	width:212px;
	height:29px;
	font-weight:bold;
	font-style:italic;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
	padding:9px 0 0 40px;
}

.list dd {
	float:left;
	margin-left:0;
	width:150px;
	height:30px;
	border-bottom:2px solid #fff;
	text-align:right;
	padding-top:8px;
	padding-right:5px;
}

.list .icon_weight {
	position: absolute;
	top: 10px;
	left: 7px;
}

.list .icon_size {
	position: absolute;
	top: 48px;
	left: 8px;
}

.list .icon_power {
	position: absolute;
	top: 89px;
	left: 7px;
}

.list .icon_price {
	position: absolute;
	top: 127px;
	left: 7px;
}

